body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: large;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
  color: chocolate;
}

html {
  background: black;
  text-align: center;
}

.gameScreen {
  margin-bottom: 20px;
  color: white;
}

.btn {
  background-color: chocolate;
  margin: auto;
  color: black;
  border: none;
  border-radius: 6px;
}

.pre {
  margin: auto;
}

.title {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 5px;
}

.menuBtn {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  font-size: large;
  background-color: chocolate;
  padding: auto;
  margin: 8px;
  color: black;
  border: none;
  border-radius: 6px;
  height: auto;
  width: auto;
}

.scoresBody {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.btn:hover {
  background-color: orange;
}

.menuBtn:hover {
  background-color: orange;
}

.scores {
  font-weight: bold;
}

.btn {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 300%;
  margin: 10px;
  padding: 10px;
  width: 100px;
  height: 100px;
  border-color: black;
  border-style: dotted;
}

.btnContent {
  padding: auto;
  margin: auto;
  background-color: rgb(248, 197, 101);
  width: 375px;
  border-width: 5px;
  border-style: solid;
  border-color: chocolate;
}

#topDiv {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom: 0px;
}

#midDiv {
  border-top: 0px;
  border-bottom: 0px;
}

#bottomDiv {
  border-top: 0px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.content {
  padding: auto;
  margin: auto;
}

.text {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: chocolate;
}

.score {
  color: chocolate;
  font-weight: bold;
}

#connectionDiv {
  color: red;
  border: 1px;
  border-style: solid;
  width: fit-content;
  margin: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
